<div *ngIf="calEvent">

  <h2>{{ calEvent.name | uppercase }} Details</h2>
  <div style="display:none;">
    <span>id: </span>{{calEvent.id}}</div>
  <div>
    <label>name:
        <mat-form-field>
          <input matInput [(ngModel)]="calEvent.name" placeholder="name" />
        </mat-form-field>
    </label>
  </div>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="calEvent.dateStart" placeholder="dateStart" type="datetime-local">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="calEvent.dateEnd" placeholder="dateEnd" type="datetime-local">
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="goBack()">go back</button>
  <button mat-raised-button color="primary" (click)="save()">save</button>
  <button mat-raised-button color="primary" (click)="delete()">delete</button>
</div>
